@import '../common/fonts';

body {
  width: 300px;
  -webkit-user-select: none;
}

#sites {
  .site {
    margin-bottom: 10px;

    .icon {
      text-align: center;
      min-width: 15px;
    }

    .token {
      width: 150px;
      line-height: 17px;

      position: absolute;
      right: 7px;
      margin-top: -2px;
    }
  }

  hr {
    $color: #e3e3e3;
    border: 0;
    color: $color;
    background-color: $color;
    height: 1px;
  }
}

#actions {
  hr {
    $color: #616161;
    border: 0;
    color: $color;
    background-color: $color;
    height: 2px;
    clear: both;
    margin-bottom: 15px;
  }
}

span {
  @include use-fontawesome;
}