@import '../common/fonts';

body {
  width: 300px;
  background-image: url('/assets/images/popup_background.png');
  -webkit-user-select: none;
}

#logo {
  margin-top: 15px;
  margin-bottom: 20px;

  .title {
    font-size: 40px;
    margin-left: 5px;
    position: absolute;
  }
}

#sites {
  padding: 8px;

  .site {
    margin-bottom: 10px;

    .icon {
      text-align: center;
      min-width: 15px;
    }

    .token {
      width: 150px;
      line-height: 17px;

      position: absolute;
      right: 7px;
      margin-top: -2px;
    }
  }

  hr {
    $color: #e3e3e3;
    border: 0;
    color: $color;
    background-color: $color;
    height: 1px;
  }
}

span {
  @include use-fontawesome;
}