@import 'fonts';

.devgib-score-icon {

  font-family: 'FontAwesome';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;

  &.score-1  { color: #ff0300; }
  &.score-2  { color: #e65401; }
  &.score-3  { color: #cda200; }
  &.score-4  { color: #c6b600; }
  &.score-5  { color: #c8cc06; }
  &.score-6  { color: #acda10; }
  &.score-7  { color: #68c130; }
  &.score-8  { color: #57e826; }
  &.score-9  { color: #3595ff; }
  &.score-10 { color: #145bc1; }

}
