@import 'fonts';
@import 'animations';

.devgib-icon-wrapper {
  display: inline-block;
}

.devgib-score-icon {

  $without-score-color: #a3a3a3;

  font-family: 'FontAwesome';
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;


  &.devgib-spinner {
    color: $without-score-color;
    -webkit-animation: spin 1s infinite linear;
  }

  &.devgib-error {
    color: $without-score-color;
  }

  &.devgib-score-0  { color: #520005; }
  &.devgib-score-1  { color: #720007; }
  &.devgib-score-2  { color: #980019; }
  &.devgib-score-3  { color: #b51f04; }
  &.devgib-score-4  { color: #bc3d01; }
  &.devgib-score-5  { color: #cd6e00; }
  &.devgib-score-6  { color: #daa400; }
  &.devgib-score-7  { color: #c1bb00; }
  &.devgib-score-8  { color: #b6e80f; }
  &.devgib-score-9  { color: #6cba1e; }
  &.devgib-score-10 { color: #1e9415; }
}