@import 'fonts';
@import 'animations';

.devgib-score-icon {

  $without-score-color: #a3a3a3;

  font-family: 'FontAwesome';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;

  &.spinner {
    color: $without-score-color;
    -webkit-animation: spin 2s infinite linear;
  }

  &.error {
    color: $without-score-color;
  }

  &.score-1  { color: #9a0200; }
  &.score-2  { color: #af460a; }
  &.score-3  { color: #a78400; }
  &.score-4  { color: #c6b600; }
  &.score-5  { color: #d9dd06; }
  &.score-6  { color: #acda10; }
  &.score-7  { color: #68c130; }
  &.score-8  { color: #57e826; }
  &.score-9  { color: #3595ff; }
  &.score-10 { color: #145bc1; }
}